.instagram-logo-link {
    background-image: url(asset-path('ig-img.png'));
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
}

.instagram-logo {
    width: 100px;
    height: 30px;
}